* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.row {
  display: grid;
  row-gap: 1rem;
}

.rowService {
  display: grid;
  row-gap: 1rem;
}

.col {
  position: relative;
}

.page-header {
  display: flex;
  justify-content: space-between;
  outline: none;
  margin: 20px 0;
  align-items: center;
  padding: 0 80px;
}

.logo-image {
  display: flex;
  height: 40px;
  width: 120px;
}

.header-menu-icon {
  background-color: rgb(76, 161, 210);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  outline: none;
  align-items: center;
  align-self: center;
  padding: 2px 1px;
}

.menu-icon-elements {
  background-color: white;
  width: 25px;
  height: 4px;
}

.intro {
  text-align: center;
  line-height: 2cap;
  border: none;
}

.blue-text {
  color: rgb(86, 176, 236);
}

.page-intro-content,
.page-intro {
  text-align: center;
  line-height: 2cap;
  padding: 0 80px;
  margin: 30px 0;
}

.page-information,
.page-information-header,
.page-blog,
.page-blog-header {
  margin: 20px 0;
}

.information-text,
.blog-text,
.latest-work-text {
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

.information-paragraph,
.blog-paragraph,
.latest-work-paragraph {
  text-align: center;
  font-size: 10pt;
  margin: 0;
}

.col-service,
.col-author {
  display: flex;
  flex-direction: row;
}

.service-icon {
  padding: 0 5px;
}

.service-info {
  margin: 0;
  font-size: 8px;
}

.service-title {
  margin: 0;
}

.services {
  margin: 30px 0;
  padding: 0 80px;
}

.blogs,
.latest-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

.page-footer {
  background-color: rgb(1, 21, 45);
  color: white;
  padding: 30px 80px 0 80px;
  margin-bottom: 0;
}

.col-author {
  margin-bottom: 30px;
}

.author-image {
  border-radius: 50%;
  margin-right: 10px;
}

.service-info {
  font-style: italic;
}

.horizontal-line {
  width: 70%;
  height: 1px;
  background-color: rgb(85, 164, 229);
}

.social-container {
  margin: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

.recent-tweets {
  margin-top: 20px;
}

.twitter-container {
  display: table;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.footer-decoration-block {
  padding: 0;
  margin: 0;
  display: table;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: stretch;
  width: 100%;
}

.footer-decoration-block-one,
.footer-decoration-block-two,
.footer-decoration-block-three,
.footer-decoration-block-four,
.footer-decoration-block-five {
  display: table-cell;
  height: 15px;
  width: auto;
}

/* Large and up */
@media screen and (min-width: 64em) {

  * {
    margin: 0;
    padding: 0;
  }

  html {
    margin:0;
    padding: 0;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  .row {
    display: grid;
    row-gap: 0.5rem;
  }

  .grid {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }

  .col {
    position: relative;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    outline: none;
    margin: 0 auto;
    align-items: center;
    max-width: 70rem;
  }

  .logo-image {
    display: block;
    height: 40px;
    width: 120px;
  }

  .header-menu-icon-s {
    display: none;
  }

  .header-menu-icon-m-l {
    display: flex;
  }

  .header-menu-icon-box-home,
  .header-menu-icon-box-pages,
  .header-menu-icon-box-blog,
  .header-menu-icon-box-portfolio,
  .header-menu-icon-box-home-two {
    display: inline-flex;
    flex-direction: column;
    width: 5.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
  }

  .header-menu-icon-image {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 2.25em;
    height: 2.25em;
    box-sizing: fit-content;
  }

  .icon-image-home {
    padding: 0.5rem;
  }

  .header-menu-icon-text {
    height: 1rem;
    margin-top: 0.5rem;
    width: 70%;
    color: white;
    text-align: left;
  }

  .content {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .carousel-image {
    width: 80vh;
    height: 30vh;
  }

  .carousel-buttons {
    position: absolute;
    bottom: 15vh;
    left: 0;
    right: 50vh;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .row {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .rowService {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
  }

  .col-service {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 60%;
    height: 90%;

  }

  .page-footer{
    background-color: rgb(1, 21, 45);
    color: white;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    margin: 0 auto;
    align-items: center;
    max-width: 70rem;
  
  }
  .col-author{
  margin-bottom: 30px;
  }
  
  .author-image {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-info{
    font-style: italic;
    width: 100%;
  }

  .horizontal-line{
    width:70%;
    height: 1px;
    background-color: rgb(85, 164, 229);
  }
  
  

  
  .social-container {
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
  }
  
  .content-row {
    display: flex;
    justify-content: center;
  }
  

  .footer-decoration{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right:0;
    float: right;
  }

  .footer-decoration-block{
    padding:0;
    margin:0;
    display: table;
    flex-direction: row;
    right:0;
    width: 35%;
    right: 0;
  }
  
  .footer-decoration-block-one{
    display: table-cell;
    height:15px;
    background-color:green;
    width:auto;
  }

  .footer-decoration-block-two{
    display: table-cell;
    height:15px;
    background-color:yellow;
    width:auto;
  }
  .footer-decoration-block-three{
    display: table-cell;
    height:15px;
    background-color:red;
    width:auto;
  }
  .footer-decoration-block-four{
    display: table-cell;
    height:15px;
    background-color:blue;
    width:auto;
  }
  .footer-decoration-block-five{
    display: table-cell;
    height:15px;
    background-color:rgb(62, 62, 165);
    width:auto;
  }
  
}

/* Medium and up */
@media screen and (min-width: 40em) {
  * {
    margin: 0;
    padding: 0;
  }

  .content {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    display: flex;
  justify-content: center;
  }
    .carousel-image {
      width: 50vh;
      height: 20vh;
    }
    
    .carousel-buttons {
      position: absolute;
      bottom: 7vh;
      left: 20vh;
      text-align: center;
      list-style-type: none;
    }

    
  ul {
    background-color: white;
    width: auto;
  }

  .carousel-buttons p:nth-child(1){
    border-left: 5px solid blue;
    padding: 5px;
  }

  .carousel-buttons p:nth-child(2){
    border-left: 5px solid red;
    padding: 5px;
  }

  .carousel-buttons p:nth-child(3){
    border-left: 5px solid yellow;
    padding: 5px;
  }

  /**For tablet**/
  .rowService {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;

  }
    
  .col-service {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-self: center;
  }


  .row {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .rowService {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;

  }

}

